/***********************
***    Variables     ***
************************/
project_id        = "cloud-armor-demo-11" # Madatory for multi environments.
url_map           = false # Enable url map resource.
